* {
  box-sizing: border-box;
}

body {
  font-family: Consolas, Menlo, Courier New, monospace;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.navbar-element {
  float: left;
}

.navbar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.auto-uppercase {
  text-transform: uppercase;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.helper-text {
  font-size: 2.5rem;
}

.input {
  width: 30vw;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: Consolas, Menlo, Courier New, monospace;
}
